h1 {
  text-align: center;
  color: #914D55;
  font-size: 8em;
  font-family: 'Gotham Ultra', cursive;
}

.char1 {
  font-size: 4em;
  color: #202651;
  font-family: ScalaSans Black
}


body{ background-color:
  #F9F9F9 }

  img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.thumb {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;

}

p{
  text-align: center;
  color: #202651;
  font-size: 2em;
  font-family: 'PlumBAE', cursive;
  }
