h1 {
  text-align: center;
  color: #914D55;
  font-size: 8em;
  font-family: 'Gotham Ultra', cursive;

}


.char1 {
  color: #C44976;
  font-size: 4em;
  font-family: 'Sabon LT Std', cursive;

}


.char2 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}

 .char3 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}

 .char4 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}

 .char5 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}


 .char6 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}

.char7 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}

 .char8 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}

 .char9 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}

 .char10 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}


.char11 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}

 .char12 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}

 .char13 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}

 .char14 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}


 .char15 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}

.char16 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}


.char17 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}

 .char18 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}

 .char19 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}

 .char20 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}


 .char21 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}

.char22 {
   color: #C44976;
   font-size: 2em;
   font-family: 'Sabon LT Std', cursive;
}


body{ background-color:
  #F9F9F9 }

  img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.thumb {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;

}
